:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(242, 199, 5, 0.963);  
  background-image: url(../src/Img/—Slidesdocs—tecnología\ azul\ claro\ textura\ naturaleza_ec588f9cfb.jpg);
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -text-size-adjust: 100%;
}

a {
  font-size: 15px;
  font-weight: 10px;
  color:  rgba(242, 199, 5, 0.963);
  text-decoration: inherit;
  margin: 5px;
  padding-top: 30px;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
main {
  background-color: #5e9e728b;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.ContactForm {
  min-width: 600px;
  margin-top: 50px;
  background: #948686;
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.73) 0px 1px 4px;
}

.ContactForm > div {
  margin-bottom: 20px;
}
.ContactForm label{
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  color: #000000;
}
.ContactForm input, .ContactForm textarea {
  font-family:'open sans';
  width: 90%;
  border-radius: 5px;
  border: 2px solid #e2e2e2;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 5px;
  color: #e3adad;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #eda705b5;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #e60606;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}